.footer{
    margin-top: 10px;
    box-shadow: 1px 1px 6px -3px black;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    // gap: 40px;
   
}
.footer:nth-child(0) {
    color: blue;
  }
