.container {
  .sections1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 5rem;
  

    .card {

      height: 300px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
.details{
  position: absolute;
  z-index: 40;
  background-color: rgba(215, 214, 214, 0.4);
  backdrop-filter: blur(2px);  cursor: pointer;
  height: 33px;
  
    margin-inline-start: 10px;
  .v-icon{
    color: $primary-color;
    margin-top: 10px;
    
    font-size: 20px;
    &:hover{
      transition: all .5s ease-in;
      transform: rotate(360deg);
    }

  }
}
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .caption {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 0;
        cursor: pointer;
        width: 100%;
        text-wrap: wrap;
        font-size: 14px;
        height: 100%;
        background-color: rgba(215, 214, 214, 0.4);
        backdrop-filter: blur(2px);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 5px;
        }
      }
    }

    .card:hover {
      .caption {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 850px) {
  .v-dialog {
    .v-toolbar-title__placeholder{
      font-size: 14px !important;
    }
    .v-card {
      .con_img {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
        justify-items: center;
        padding-top: 10px;
        gap: 15px;
        padding-bottom: 70px;
        img {
          width: 400px !important;
          height: 400px !important;
          border-radius: 5px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .v-dialog {
    .v-toolbar-title__placeholder{
      font-size: 14px !important;
    }
    .v-card {
      .con_img {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
        justify-items: center;
        padding-top: 10px;
        gap: 15px;
        padding-bottom: 70px;
        img {
          width: 400px !important;
          height: 400px !important;
          border-radius: 5px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .container {
    .sections1 {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 10px;
      margin-top: 5rem;}}
  .v-dialog {
    .v-toolbar-title__placeholder{
      font-size: 14px !important;
    }
    .v-card {
      .con_img {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
        justify-items: center;
        padding-top: 10px;
        gap: 15px;
        padding-bottom: 70px;
        img {
          width: 300px !important;
          height: 300px !important;
          border-radius: 5px;
        }
      }
    }
  }
}
.v-dialog {
  .v-toolbar-title__placeholder{
    font-size: 16px !important;
  }
  .v-card {
    height: 100%;
    .con_img {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-items: center;
      padding-top: 10px;
      gap: 15px;
      padding-bottom: 70px;
      margin-left: 10px;
    margin-right: 10px;
      img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
} 
.sections1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  .con {
    opacity: 0;
    transform: translateY(50px); 
    transition: all 1s ease-out; 

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
// .v-card .con_img {
//   opacity: 0;
//   transform: translateY(20px);
//   transition: all 0.5s ease-in-out;
// }

// .v-card .con_img.appear {
//   opacity: 1;
//   transform: translateY(0);
// }
